{% extends "base.html" %}

{% block title %}
    {% if query %}
        Debate search: {{ query }}
    {% else %}
        Debates viewer
    {% endif %}
{% endblock %}

{% block body %}
<!-- if query and query != "no_query_yet" -->

<!-- de page zelf -->
<div class="container-fluid row container-styling no-gutters fixed-top z-index-1" id="debates-page">

    <!-- Lijst met cards links -->
    <div class="col-6 col-md-4">
        
        <div class="scrollbar" id="scrollbar-infinite" style="max-height: calc(100vh - 63px);">
            <div class="scrollbar-content">

                <div id="scrollbar-before-content"></div>

                <div id="scrollbar-selected-content"></div>

                <div id="scrollbar-infinite-content"></div>

            </div>
        </div>

    </div>

    <div class="col-12 col-md-8 card rounded-0 search-result-text">

        <!-- file headings -->
        {% if query and query != "no_query_yet" %}
            <form action="" method="post">
                    
                <!-- vertaling knop -->
                {% if file_info and "language" in file_info.keys() and file_info['language'][1] == "Translation available" %}
                    <button class="translate-available float-right" name="ftr=" value="translate"><img class="rounded" src="/static/country_icons/{{ file_info['language'][0] }}.svg" alt="{{ file_info['language'][0] }}" height="20px" width="20px"> {{ file_info['language'][1] }}</button>
                {% elif file_info and "language" in file_info.keys() and file_info['language'][1] == "Translated" %}
                    <button class="translate-available float-right" name="ftr=" value="original">
                        <img class="rounded" src="/static/country_icons/{{ file_info['language'][0] }}.svg" alt="{{ file_info['language'][0] }}" height="20px" width="20px">
                        <img class="rounded" src="/static/country_icons/GB.svg" alt="GB" height="20px" width="20px"> {{ file_info['language'][1] }}
                    </button>
                {% elif file_info %}
                    <card class="translate-unavailable float-right mt-1 pr-2" style="opacity: 0.5;"><img class="rounded" src="/static/country_icons/{{ file_info['language'][0] }}.svg" alt="{{ file_info['language'][0] }}" height="20px" width="20px"> {{ file_info['language'][1] }}</card>
                {% endif %}
                
                <!-- file header linksboven -->
                {% if file_info and file_info["hits"] == "Viewing translated document" %}
                    
                    {% if file_info and "language" in file_info.keys() and file_info['language'][1] == "Translation available" %}
                        <h5 class="col-md-10 pl-2 mt-1 card-title text-padding">Viewing original debate</h5>
                    {% else %}
                        <h5 class="col-md-10 pl-2 mt-1 card-title text-padding">Viewing translated debate</h5>
                    {% endif %}

                {% elif file_info %}
                    <h5 class="col-md-10 pl-2 mt-1 card-title text-padding">Search results for "<span class='highlight-list'>{{ query }}</span>" was found <span class='highlight-list'>{{ file_info["hits"] }}</span> times in this debate</h5>
                {% else %}
                    <h5 class="col-md-10 pl-2 mt-1 card-title text-padding">Search results for "<span class='highlight-list-error'>{{ query }}</span>" was found <span class='highlight-list-error'>0</span> times in total</h5>
                {% endif %}
                <hr class="hr hr-blurry ml-2 mr-2 no-vertical-gutters" style="background-color: #2B2D31;"/>
                
            </form>
        {% endif %}

        <!-- de file inhoud zelf -->
        {% if render_file %}
            <div class="scrollbar scrollbar-toggle" style="margin-right: 2px; max-height: calc(100vh - 104px);">
                
                <!-- geladen file -->
                <div class="scrollbar-content mt-2 ml-2">
                    <!-- file inhoud -->
                    {% for sentence in render_file %}
                        
                        <h6 class="card-subtitle text-padding" style="color: #797E86" id="{{ sentence.id }}">{{ sentence.person | safe }}</h6>
                        <p class="card-text text-padding">{{ sentence.content | safe }}</p>

                    {% endfor %}
                </div>

            </div>
        <!-- anders instructies -->
        {% else %}
            <div class="container-fluid mx-auto card rounded-0 search-result-text pt-4 pb-3" style="max-height: calc(100vh - 104px);">

                <img class="mx-auto" src="/static/icons/favicon.png" alt="DB" height="60" width="60">

                <h1 class="text-center">
                    Debate a Base debates viewer
                </h1>

                <!-- gebruiksinstructies -->
                <div class="container-fluid about-card rounded mb-2">
                    <h3>How to search</h3>
                    <hr class="hr hr-blurry no-vertical-gutters" style="background-color: #3A3C42;"/>

                    <ol class="text-left">
                        <li>Search for a term (with a maximum of 5 words)</li>
                        <li>The left side shows files the search appears in and the right shows one of the files:
                            <ul>
                                <li>The <span class="text-success">selected file is highlighted</span> on the left in a lighter color</li>
                                <li>All highlighted results on the left appear in the selected file on the right</li>
                                <li><span class="text-success">Scroll</span> down on the left to <span class="text-success">load more files</span> that match</li>
                            </ul>
                        </li>
                    </ol>
                </div>

                <!-- debate instructies -->
                <div class="container-fluid about-card rounded">
                    <h3>About the debates</h3>
                    <hr class="hr hr-blurry no-vertical-gutters" style="background-color: #3A3C42;"/>

                    <ul class="text-left">
                        <li>The debates that can be viewed have been held in 17 different European countries</li>
                        <li>Some debates have got a <span class="text-info">button to translate</span> the file in the top right corner</li>
                        <li>Matches with the search results are highlighted, if search matches are found in the file on the right
                            <br>You can jump between highlighted matches using the arrows on the bottom right
                            <ul>
                                <li><span class="text-info">Left</span> arrow brings you to the <span class="text-info">previous result</span></li>
                                <li><span class="text-info">Right</span> arrow brings you to the <span class="text-info">next result</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>

            </div>
        {% endif %}

    </div>
</div>

<!-- buttons om door hits heen te springen -->
{% if file_info and file_info["hits"] != "Viewing translated document" and file_info["total_segs"] != "1" %}
    <div class="hits-menu rounded pb-1">

        <h5 class="text-info text-center no-vertical-gutters">Mentions</h5>
        <hr class="hr hr-blurry ml-2 mr-2 mb-1 mt-1" style="background-color: #6C757D;"/>

        <div class="d-flex justify-content-between align-items-center">
            <button class="clear-filters" onclick="scroll_to_result('back')">
                <img src="/static/icons/back.png" alt="back" height="30px" width="30px">
            </button>

            <span class="font-weight-bold" id="hits-menu-count" style="color: #F2F3F5;"></span>

            <button class="clear-filters" onclick="scroll_to_result('forth')" style="rotate: 180deg;">
                <img src="/static/icons/back.png" alt="back" height="30px" width="30px">
            </button>
        </div>

    </div>
{% endif %}

<script type='text/javascript'>
    // positioning
    var navHeight = document.getElementById('top-bar').clientHeight + 5;
    document.getElementById("debates-page").setAttribute("style", `margin-top: ${navHeight}px;`)

    // vul de zoekresultaten links in
    {% if render_list %}
        var content_location = "scrollbar-before-content";

        {% for sentence in render_list %}
            var divzer = document.createElement('div');

            // selected result
            {% if sentence.file == file %}
                content_location = "scrollbar-infinite-content";

                divzer.className = "card border-bottom border-secondary rounded-0 search-result-card-first";
                divzer.id = "selected-search-result-card"

                divzer.innerHTML = `
                    <div class="row no-gutters text-padding">
                        <h5 class="col-10 card-title"><img class="rounded" src="/static/country_icons/{{ sentence.country }}.svg" alt="{{ sentence.country }}" height="20px" width="20px"><span class="text-success"> {{ sentence.person }}</span> - {{ sentence.party }}</h5>
                        <h5 class="col-2 card-title text-right"><span style="color: #797E86;">#{{ sentence.file_id }}</span></h5>
                    </div>
                    
                    <h6 class="card-subtitle text-padding">{{ sentence.date }}</h6>
                    <p class="card-text text-padding">{{ sentence.content | safe }}</p>`;
                
                document.getElementById("scrollbar-selected-content").append(divzer);

            // niet geselecteerde result
            {% else %}
                divzer.className = "card border-bottom border-secondary rounded-0 search-result-card";

                divzer.innerHTML = `
                    <div class="row no-gutters text-padding">
                        <h5 class="col-10 card-title text-padding" style="opacity: 0.5;"><img class="rounded" src="/static/country_icons/{{ sentence.country }}.svg" alt="{{ sentence.country }}" height="20px" width="20px"><span class="text-info"> {{ sentence.person }}</span> - {{ sentence.party }}</h5>
                        <h5 class="col-2 card-title text-right"><span style="color: #797E86;">#{{ sentence.file_id }}</span></h5>
                    </div>
                    
                    <h6 class="card-subtitle text-padding">{{ sentence.date }}</h6>
                    <p class="card-text text-padding">{{ sentence.content | safe }}</p>
                    <a href="/debates/{{ query }}/{{ sentence.file }}/{{ settings }}" type="button" class="stretched-link"></a>`;
                
                document.getElementById(content_location).append(divzer);

            {% endif %}
        {% endfor %}

    // wanneer er geen zoekresultaten zijn
    {% else %}
        var divzer = document.createElement('div');
        divzer.className = "card border-bottom border-secondary rounded-0 search-result-card-first align-items-center";

        {% if query and query != "no_query_yet" %}
        divzer.innerHTML = `
            <h3 class="card-title text-danger mt-3">X</h3>
            <h5 class="card-subtitle font-italic" style="color: #F2F3F5;">No files found...</h5>`;
        {% else %}
        divzer.innerHTML = `
            <h3 class="card-title text-info mt-3">X</h3>
            <h5 class="card-subtitle font-italic" style="color: #F2F3F5;">Search to get results here...</h5>`;
        {% endif %}

        document.getElementById("scrollbar-infinite-content").append(divzer);
    
    {% endif %}

    // scroll naar geselecteerde file links
    const card = document.getElementById("selected-search-result-card");
    if (card != null) {
        card.scrollIntoView({ behavior: 'instant', block: 'start', inline: 'nearest' });
    }

    // scrolling
    {% if file_info and not file_info["hits"] == "Viewing translated document" %}
    
        max_number = parseInt("{{ file_info['total_segs'] }}");
        number = 0;
        function scroll_to_result(direction) {
            if (direction == "back" && number > 0) {
                number = number - 1;
            } else if (number < max_number) {
                number = number + 1;
            } else {
                number = 1;
            }

            // update hit menu counter
            const counter = document.getElementById("hits-menu-count").textContent=`${number} / ${max_number}`;

            // scroll naar hit
            const sentence = document.getElementById(number);
            sentence.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' });   
        }

        scroll_to_result()

    {% endif %}

    // infinite file scrolling
    {% if render_list %}
        file_count = {{ file_count }};
        end_reached = false;

        const scroll_bottom_check = document.querySelector('#scrollbar-infinite');
        scroll_bottom_check.addEventListener('scroll', e => {

            if(scroll_bottom_check.scrollTop + scroll_bottom_check.clientHeight >= scroll_bottom_check.scrollHeight) {
                
                // stop fetch als het einde al bekend is
                if (end_reached == true) {
                    return
                }

                // stuur info naar app en redirect dan
                fetch('/continue_scrolling', {
                headers : {
                    'Content-Type' : 'application/json'
                },
                method : 'POST',
                redirect : 'follow',
                body : JSON.stringify( {
                    'url' : window.location.pathname,
                    'file_count' : file_count
                    })
                })
                .then((resp) => resp.json())
                .then((data) => {
                    files = data["files"];
                    file_count = data["file_count"];
                    settings = data["settings"];

                    if (files.length == 0) {
                        let divzer = document.createElement('div');
                        divzer.className = "card border-bottom border-secondary rounded-0 search-result-card-first align-items-center";

                        divzer.innerHTML = `
                            <h3 class="card-title text-danger mt-3">X</h3>
                            <h5 class="card-subtitle font-italic" style="color: #F2F3F5;">You have reached the end...</h5>`;
                        
                        document.getElementById("scrollbar-infinite-content").append(divzer);

                        end_reached = true;

                        // sla de rest over
                        return
                    }

                    // voeg de nieuwe lijst toe
                    for (let i = 0; i < files.length; i++) {
                        file = files[i];

                        content = file["content"];
                        country = file["country"];
                        date = file["date"];
                        party = file["party"];
                        person = file["person"];
                        file_name = file["file"];
                        file_id = file["file_id"];

                        let divzer = document.createElement('div');
                        divzer.className = "card border-bottom border-secondary rounded-0 search-result-card";

                        divzer.innerHTML = `
                            <div class="row no-gutters text-padding">
                                <h5 class="col-10 card-title text-padding" style="opacity: 0.5;"><img class="rounded" src="/static/country_icons/${country}.svg" alt="${country}" height="20px" width="20px"><span class="text-info"> ${person}</span> - ${party}</h5>
                                <h5 class="col-2 card-title text-right"><span style="color: #797E86;">#${file_id}</span></h5>
                            </div>
                            
                            <h6 class="card-subtitle text-padding">${date}</h6>
                            <p class="card-text text-padding">${content}</p>
                            <a href="/debates/{{ query }}/${file_name}/${settings}" type="button" class="stretched-link"></a>`;
                        
                        document.getElementById("scrollbar-infinite-content").append(divzer);

                    }
                })

            }

        });

    {% endif %}

</script>

{% endblock %}